.homepage-container{
  background-image: url('../images//homepage_background.jpg');
  background-size: cover;
  background-repeat: repeat;
  min-height: 100dvh;
  padding:10px;
  width:80%;
  position: fixed;
  left:20%;
  top: var(--distanceFromTop);
}