.category-page-container {
  width: 80%;
  height: 90dvh;
  position: fixed;
  left: 20%;
  top: var(--distanceFromTop);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 999;
  /* justify-content: space-between; */
}

.category-page-options{
  /* position: fixed;
  top: 95px;
  width: 100%; */
  background-color: rgb(0, 0, 0,0.8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin: 20px 5px;
}

.category-page-main-heading {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  margin: 15px 0;
}

.workout-list-button {
  flex-shrink: 0;
  width: 50%;
  /* cursor: pointer; */
  padding: 10px;
  border-radius: 10px;
  /* width: 200px; */
  background-color: #530b0b;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
}

.app-reset-button{
  width: auto;
  padding: 0;
  border-radius: 10px;
  background-color: gray;
  border: none;
  outline: none;
  transition: transform 0.1s linear;
  /* margin: 0 10px; */
}

.app-reset-button:active{
  transform: scale(1.1);
}

.app-reset-button img{
  width: 30px;
}

.reset-app-warning-container{
  /* background-color: red; */
  background-color: rgb(0, 0, 0,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-app-warning-container span{
  color: white;
  font-size: 5rem;
  position: fixed;
  right: 10px;
  top: 100px;
  /* z-index: 111; */
}

.warning-buttons-container{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: 50px 0;
}

.warning-text{
  width: 80%;
  text-align: center;
  color: white;
}

.warning-button{
  width: 100px;
  padding:10px;
  border-radius: 10px;
  border: none;
  transition: transform 0.1s ease;
  font-size: 1rem;
}

.warning-button:active{
  transform: scale(1.1);
  font-weight: bold;
}

.warning-confirm-button{
  background-color: red;
}

.warning-cancel-button{
  background-color: green;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* width: 100%; */
  background-color: #530b0b;
  opacity: 0.5;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

@media(max-width:600px){
  .workout-list-button{
    font-size: 0.8rem;
  }

  .warning-buttons-container{
    width: 80%;
  }
}
