.user-register-form-container{
  width:50dvw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-register-form-heading{
  color:white
}

.user-register-form{
  border: 1px solid black;
  width: 100%;
  height: 60dvh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right,#ffb703,#219ebc,#fb8500);
}

.input-container{
  display: block;
  width: 80%;
  margin:15px auto;
}

.input-label{
  width: 20%;
  display: inline-block;
  font-size: 1.3rem;
}

.input-area{
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.input-age-select{
}

.age-dropdown-option{
}

.input-age-select{
  padding:3px;
}

.input-label-gender{
  font-size: 1.2rem;
  margin: 10px;
}

.input-radio{
  cursor: pointer;
}

.submit-button{
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border:none;
  outline:none;
  opacity: 0.8;
  transition: font-size 0.3s linear, opacity 0.5s linear;
  margin: 50px auto 0 auto;
  background: linear-gradient(to right , #adb5bd, #9b2226);
}

.submit-button:hover{
  outline: 1px solid black;
  font-size: 1.1rem;
  opacity: 1;
}

.age-input{
  width: 50px;
  padding: 5px;
  border-radius: 10px;
}



